.git
.idea
node_modules
**/node_modules
dist
**/dist
*.log
*.lock
*.sqlite3
secrets
backend/__pycache__
backend/.ruff_cache
backend/.venv
backend/db.sqlite3
.venv
.pytest_cache
.mypy_cache
coverage
documentation/node_modules
documentation/.docusaurus
documentation/build
**/__pycache__
**/*.pyc
